// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// Paleta de Colores Naranja y Amarillo
/*:root {
    --ion-color-primary: #FF5722;       // Naranja Principal
    --ion-color-primary-rgb: 255, 87, 34;
    --ion-color-primary-contrast: #ffffff; // Contraste para texto (blanco)
  
    --ion-color-secondary: #FF7043;     // Naranja Claro
    --ion-color-secondary-rgb: 255, 112, 67;
    --ion-color-secondary-contrast: #ffffff; // Contraste para texto (blanco)
  
    --ion-color-tertiary: #FFEB3B;      // Amarillo Principal
    --ion-color-tertiary-rgb: 255, 235, 59;
    --ion-color-tertiary-contrast: #000000; // Contraste para texto (negro)
  
    --ion-color-success: #FFEB8C;       // Amarillo Claro
    --ion-color-success-rgb: 255, 235, 140;
    --ion-color-success-contrast: #000000;
  
    --ion-color-danger: #E64A19;        // Naranja Oscuro
    --ion-color-danger-rgb: 230, 74, 25;
    --ion-color-danger-contrast: #ffffff;
  
    --ion-color-warning: #FBC02D;       // Amarillo Oscuro
    --ion-color-warning-rgb: 251, 192, 45;
    --ion-color-warning-contrast: #000000;
  
    // Otros colores predeterminados
    --ion-color-light: #ffffff;         // Blanco
    --ion-color-dark: #212121;          // Gris Oscuro
    --ion-color-medium: #757575;        // Gris Medio
  
    // Colores para interacción y enfoque
    --ion-color-hover: #FF6D3A;         // Naranja más oscuro para hover
    --ion-color-focus: #FF3D00;         // Naranja intenso para el enfoque
    --ion-color-active: #F4511E;        // Naranja más brillante para el estado activo
  }*/