<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Transacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar transacciones"></ion-searchbar>

  <ion-list>
    <!-- Mostrar las transacciones -->
    <ion-item *ngFor="let transaction of transactions">
      <ion-label>
        <h2>{{ transaction.description }}</h2>
        <p>{{ transaction.date | date: 'short' }}</p>
        <p>Amount: {{ transaction.amount }}</p>
      </ion-label>
    </ion-item>

    <!-- Si hay un error, mostrar un mensaje -->
    <ion-item *ngIf="errorMessage">
      <ion-label color="danger">{{ errorMessage }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToTransaction()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
